<li>
    {{name}}

    <button class="change-adopt" data-id="{{id}}" data-newadopt="{{adopt}}">
        {{#if adopt}}ADOPTED!{{else}}Yay!{{/if}}
    </button>
    <button class="delete-cat" data-id="{{this.id}}">DELETE</button>
</li>