<div class="card" style="width: 18rem;">
    <div class="card p-2">
        <li class="list-group-item">
            {{name}}

            <button class="change-adopt badge badge-info" data-id="{{id}}" data-newadopt="{{adopt}}">
                {{#if adopt}}Adopt!{{else}}Unadopt :c{{/if}}
            </button>
            <button class="delete-cat badge badge-info" data-id="{{this.id}}">DELETE</button>
        </li>
    </div>
</div>