<li>
    {{name}}

    <button class="change-adopt" data-id="{{id}}" data-newadopt="{{adopt}}">
        {{#if adopt}}ADOPT!{{else}}unadopt :c{{/if}}
    </button>
    <button class="delete-cat" data-id="{{this.id}}">DELETE</button>
</li>